@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", "Lato", sans-serif;
  font-weight: 200;
  line-height: 1.8em;
  letter-spacing: 1px;
  line-height: 2em;
  background-color: black;
}

.header {
  display: inline-block;
  width: 100%;
  font-family: "Londrina Outline", cursive;
  font-size: 120px;
  color: #fff;
  letter-spacing: 20px;
}

.intro {
  font-size: 14px;
}

.button {
  min-width: 175px;
  margin: 2em;
  padding: 0.3em;
  border: 2px solid #15f4ee;
  border-radius: 10px;
  border-color: rgb(110, 110, 110);
  background-color: transparent;
}

.button .res-span {
  position: relative;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  z-index: 3;
  padding: 1em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(155, 153, 153);
  letter-spacing: 7px;
  font-weight: bold;
}

.button:hover {
  border-color: #fff;
  transition: 1s;
  box-shadow: 0 2px 20px 0 #15f4ee inset, 0 2px 20px 0 #15f4ee,
    0 2px 20px 0 #15f4ee inset, 0 2px 20px 0 #15f4ee;
}

.button .res-span:hover {
  color: #fff;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
  transition: 0.5s;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Fixed = parallax
       Scroll = no effect
       */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url(/assets/img/phil-botha-a0TJ3hy-UD8-unsplash.jpg);
  opacity: 0.3;
  min-height: 100%;
}

.pimg2 {
  background-image: url(/assets/img/pexels-negative-space-92905.jpg);
  min-height: 400px;
  opacity: 0.3;
}

.pimg3 {
  background-image: url(/assets/img/pexels-stefano-de-angelis-5151583.jpg);
  min-height: 400px;
  opacity: 0.9;
}

.section {
  text-align: left;
  padding: 50px 80px;
  font-size: 16px;
}

.section-light {
  background-color: #f4f4f4;
  color: #000;
}

.intro-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 27px;
  color: #fff;
  letter-spacing: 8px;
  text-transform: uppercase;
}

@media (max-width: 786px) {
  .ptext {
    top: 25%;
  }

  .header {
    font-size: 70px;
    line-height: 60px;
  }
}

@media (max-width: 468px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }

  .ptext {
    top: 25%;
    height: 100%;
  }

  .header {
    line-height: 80px;
    font-size: 80px;
  }
}

@media (max-height: 319px) {
  .pimg1 {
    height: 350px;
  }
}

@media(min-width: 700px) {

  .grid {
      display: grid;
      grid-template-columns:  1fr 2fr;
      grid-gap: 1rem;
      max-width: 1200px;
      margin: auto;
      padding: 1.5rem;
  }

  h2 {
    font-family: "Londrina Outline", cursive;
    font-size: 40px;
    letter-spacing: 10px;
  }


}
